.footer{
    background-color: #7b1fa2;
    color: #fff;
    padding: 5px;
    margin: 0;
    //position: absolute;
    width: 99%;
    //bottom: 0;
    text-align: center;
}

.footer1{
    background-color: #7b1fa2;
    color: #fff;
    padding: 5px;
    margin: 0;
    position: absolute;
    width: 99%;
    bottom: 0;
    text-align: center;
}

.footer a{
    color: #282828;
}