.contenedor-tarea{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 70px;
    margin-bottom: 50px;
    place-items: center;
}

.carta{
    background-color: #fff;
    max-width: 650px;
}

mat-card-subtitle{
    color: #7b1fa2;
}