<div class="contenedor-tarea">
    <mat-card class="carta">
        <mat-card-content>
            <p> Para repasar el contenido de Angular, 
                les dejamos este ejercicio de práctica de cara a la fase de proyectos. 
            </p>

            <p> El objetivo es que puedan probar lo realizarlo y 
                recibir feedback de nuestro lado para la corrección una vez completado, 
                a fin de afianzar los contenidos abordados en el módulo de Angular JS. 
            </p>
        </mat-card-content>
        <mat-card-header>
            <mat-card-subtitle>Consigna:</mat-card-subtitle> 
        </mat-card-header>
        <mat-card-content>
            <p>A - Crear un nuevo proyecto de Angular. A (Opcional) - Utilizar ng add para añadir angular material.</p>

            <p>B - En el componente principal crear un arreglo que contenga nombres (string) y costos (string), 
                y utilizar un ngFor para mostrar una lista con los nombres y costos. 
                B (Opcional) - En vez de utilizar los tipos por defecto crear una interfaz.
            </p>

            <p>C - Crear un botón que nos permita ocultar o mostrar la lista utilizando un ngIf 
                (Advertencia una etiqueta HTML no puede tener ngIf y 
                ngFor van a tener que hacer un wraper al rededor de la lista para utilizar el ngFor)
                C (Opcional) - Que el botón sea de Angular material
            </p>
        </mat-card-content>
        <mat-card-header>
            <mat-card-subtitle>Forma de entrega</mat-card-subtitle> 
        </mat-card-header>
        <mat-card-content>
            <p>Va a ver 2 formas de entrega:</p>

            <p>- Crear un nuevo repo en github publico y mandarnos el link por el aula virtual. (Extra puntos).</p>

            <p>- Subir un comprimido al aula virtual. (Si suben la carpeta node_modules se bajan puntos).</p>
        </mat-card-content>
    </mat-card>
</div>